<h2>Hola mundo</h2>

<p>Muy buenas a todas las personas que lleguéis a este blog por primera vez.</p>

<p>Mi nombre es Alberto, soy un desarrollador de software especializado en back-end en perl 5, pero también me gusta mucho programar en python y perl 6.</p>

<p>Con este post y este blog, quiero daros la bienvenida a un espacio donde quiero compartir con vosotros consejos que me hubiera gustado poder leer cuando yo empezaba o explicaciones sobre algún código en especial o tutoriales o cualquier cosa relacionada con software.</p>

<p>Así que si te gusta el software y quieres aprender y a la vez enseñar a través de comentarios constructivos, te invito a que nos leamos.</p>

<p>El mundo puede ser un poco mejor si nos lo proponemos, y desde la comodidad de nuestro escritorio podemos marcar la diferencia.</p>

<p>Sin más me despido hasta el próximo post. Un saludo y no paréis de teclear.</p>


